@font-face {
  font-family: 'SubjectivitySerif';
  font-weight: 300;
  src: url('./fonts/SubjectivitySerif-Light.woff2') format('woff2'),
    url('./fonts/SubjectivitySerif-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SubjectivitySerif';
  font-weight: normal;
  src: url('./fonts/SubjectivitySerif-Regular.woff2') format('woff2'),
    url('./fonts/SubjectivitySerif-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SubjectivitySerif';
  font-weight: bold;
  src: url('./fonts/SubjectivitySerif-Medium.woff2') format('woff2'),
    url('./fonts/SubjectivitySerif-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: 300;
  src: url('./fonts/HKGrotesk-Light.woff2') format('woff2'),
    url('./fonts/HKGrotesk-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: bold;
  src: url('./fonts/HKGrotesk-Medium.woff2') format('woff2'),
    url('./fonts/HKGrotesk-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: bolder;
  src: url('./fonts/HKGrotesk-Bold.woff2') format('woff2'),
    url('./fonts/HKGrotesk-Bold.woff') format('woff');
  font-display: swap;
}

:root {
  --brand-color: hsl(172, 77%, 35%);
  --figcaption-color: hsl(172, 17%, 85%);
  --brand-color-light: hsl(172, 57.1%, 89%);
  --brand-color-dark: hsl(172, 77%, 15%);
  --brand-color-darker: hsl(172, 77%, 10%);
  --brand-bg-dark: hsl(345, 29%, 30%);
  --focus-background-dark: hsl(345, 9%, 18%);
  --background-dark: hsl(345, 14%, 12%);
  --brand-bg-bright: hsl(338, 75%, 85%);
  --background-light: hsl(351, 42%, 85%);
  --background-light-hover: hsl(351, 45%, 95%);
  --foreground-dark: hsl(172, 50%, 95%);
  --inverted-hue-light: hsl(352, 77%, 55%);
  --nav-color: hsl(172, 77%, 29.5%);
  --hi-contrast-brand-color: hsl(172, 90%, 25%);
  --light-bg-link-color: hsl(172, 93%, 20%);
  --hi-contrast-brand-color-dark: hsl(172, 70%, 40%);
  --inverted-bg-color: hsl(172, 10%, 35%);
  --inverted-text-color: hsl(0, 0%, 95%);
}

html {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

body {
  font-family: 'HKGrotesk', sans-serif;
  width: 100vw;
  line-height: 1.3;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width:100%;
}

header {
  width: 100%;
  max-width: 40rem;
}

main {
  max-width: 100%;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-dark);
}

section {
  width: calc(100% - 2rem);
  max-width: 40rem;
  padding: 1rem;
  margin: 1rem 0;
}


.full-width {
  background-color: var(--hi-contrast-brand-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service {
  background-color: var(--background-light);
  color: var(--brand-bg-dark);
  border-top-left-radius: 0.1rem;
  padding: 0;
  padding-bottom: 3rem;
  box-shadow:
  3.1px 9.4px 2.2px -13px hsla(338, 0%, 0%, 0.041),
  5.2px 15.6px 5.3px -13px hsla(338, 0%, 0%, 0.064),
  6.6px 19.8px 10px -13px hsla(338, 0%, 0%, 0.082),
  7.8px 23.5px 17.9px -13px hsla(338, 0%, 0%, 0.098),
  9.7px 29px 33.4px -13px hsla(338, 0%, 0%, 0.113),
  16px 48px 80px -13px hsla(338, 0%, 0%, 0.13)
;
}
.service.clickable {
  transition: 300ms all ease-out;
  cursor: pointer;
  transform: scale(1);
}

.service.clickable:hover {
  transition: 300ms all ease-out;
  transform: scale(1.02);
  background-color: var(--background-light-hover);
  box-shadow:
  3.1px 9.4px 2.2px -13px hsla(338, 60%, 30%, 0.041),
  5.2px 15.6px 5.3px -13px hsla(338, 60%, 30%, 0.064),
  6.6px 19.8px 10px -13px hsla(338, 60%, 30%, 0.082),
  7.8px 23.5px 17.9px -13px hsla(338, 60%, 30%, 0.098),
  9.7px 29px 33.4px -13px hsla(338, 60%, 30%, 0.113),
  16px 48px 80px -13px hsla(338, 60%, 30%, 0.13)
;
}
.service.clickable:focus {
  border-color: var(--hi-contrast-brand-color);
}
.service.clickable:focus-within {
  box-shadow: 0 0 0 0.25rem var(--hi-contrast-brand-color);
}

.service h4 {
  position: relative;
  top: -0.25rem;
  left: -0.25rem;
  display: inline;
  color: var(--foreground-dark);
  background-color: var(--hi-contrast-brand-color);
  font-size: 1.3rem;
  border-radius: 0.1rem;
  padding: 0.5rem;
  margin-bottom: 0.6em;
  box-shadow:
  1px 1.2px 5.8px hsla(351, 50%, 20%, 0.009),
  1.7px 2.2px 8.1px hsla(351, 50%, 20%, 0.015),
  2.4px 3px 11.4px hsla(351, 50%, 20%, 0.02),
  3.6px 4.5px 16.5px hsla(351, 50%, 20%, 0.027),
  6.8px 8.6px 23.4px hsla(351, 50%, 20%, 0.038),
  12px 15px 32px hsla(351, 50%, 20%, 0.06)
;
}
.service .explanation {
  margin-top: 2rem;
}
section.service a, .more a, .about a {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: inline-block;
  color: var(--light-bg-link-color);
}

.service h4, .service p, .service ul, .service li {
  pointer-events: none;
}

section.landing-text {
  padding: 0;
  margin-top: 0;
  margin-bottom: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  background-color: var(--brand-color);
  border: none;
  border-radius: 1px;
  height: 2px;
  width: 90vw;
  max-width: 42rem;
  margin: 0 auto;
}
section.offers {
  margin-top: 0.5rem;
  padding-top: 0;
}

section.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.secondary-contacts {
  display: grid;
  justify-content: center;
  grid-template-areas: 'mastodon twitter gitlab';
}
#mastodon {
  grid-area: 'mastodon'
}
#twitter {
  grid-area: 'twitter'
}
#gitlab {
  grid-area: 'gitlab'
}
@media (max-width: 700px) {
  .secondary-contacts {
    grid-template-areas:
      'mastodon'
      'twitter'
      'gitlab';
  }
}
.secondary-contacts a {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.secondary-contacts a span{
  display: inline-flex;
  padding-left: 1em;
  padding-bottom: 0.25em;
}
.contact-icon {
  display: inline-flex;
  color: var(--brand-color);
  width: 1em;
}

section.workshop {
  margin: 2rem 0;
}

section.workshop li {
    font-size: 1rem;
    font-weight: 300;
}
section.workshop li::before {
    content: "•";
    color: var(--brand-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

section.workshop h3 {
  margin-top: 2rem;
}

footer, nav {
  width:100%;
  margin: 0;
  background-color: var(--background-light);
  color: var(--brand-bg-dark);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.about {
  position: relative;
  font-size: 0.9rem;
  max-width: 40rem;
  padding: 0 0 2rem 0;
  margin-top: 0;
  margin-bottom: 0;
}
section.about h3 {
  margin-top: 2rem;
}

h1, h2, h3, h4 {
  font-family: 'SubjectivitySerif', serif;
  letter-spacing: -0.05em;
  padding: 0 0.5rem;
  margin: 0;
}

h1 {
  color: var(--brand-color);
  font-weight: bold;
  font-size: 3rem;
  line-height: 0.8;
  margin: 1rem 0;
}

section.offers h3 {
 color: var(--brand-color);
 font-size: 1.4rem;
 font-weight: 700;
 padding: 1.5rem 2.5rem 0 2.5rem;
 margin-bottom: 0.5rem;
}


div.container-gim {
  width: 100%;
	display: block;
	height: auto;
	position: relative;
	padding-top: 76.5%;
}
svg#getting-ideas-moving {
  width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
svg#getting-ideas-moving text {
  font-family: 'SubjectivitySerif', serif;
  font-weight: bold;
  font-size: 51px;
  letter-spacing: -0.05em;
}

svg#animate-slash-activate {
  width: 88vw;
  max-width: 36rem;
  overflow: visible;
  padding-right: 5%;
}
svg#animate-slash-activate text {
  font-family: 'SubjectivitySerif', serif;
  font-weight: normal;
}

h1 span {
  display: block;
  text-align: right;
}

h1 span:first-child {
  padding-bottom: 0.12em;
}

h2 {
  font-size: 1.6rem;
  font-weight: normal;
}

span.slash {
  font-weight: bold;
  color: var(--hi-contrast-brand-color-dark);
}
h4 span.slash {
  color: var(--brand-color-light);
}
.service .explanation span.slash {
  color: var(--light-bg-link-color);
}

h3, summary > h2 {
  font-family: 'HKGrotesk', sans-serif;
  letter-spacing: -0.02em;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.6em;
}



p {
  font-weight: 300;
  padding: 0 0.5rem;
}

section.service p {
  padding-left: 1rem;
  padding-right: 1rem;
}
p.subheading {
  font-family: 'HKGrotesk', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  margin-top: 0.2em;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

h2+p, summary > p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p.claim {
  font-family: 'HKGrotesk', sans-serif;
  font-weight: bolder;
  font-size: 1.1rem;
  line-height: 1.3;
  padding: 0 2.5rem 1rem 2.5rem;
  clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
}
p.offers {
  margin: 2rem;
}
p.content-warning, p.mode {
  color: var(--foreground-dark);
  background-color: var(--hi-contrast-brand-color);
  border-radius: 0.1rem;
  padding: 0.5rem;
  margin-bottom: 0;
}
p.mode {
  font-size: 0.8rem;
  display:inline-block;
  margin: 0.5em;
}
p.mode + p {
  border-top: 1px var(--brand-color) solid;
  margin-top: 0.5rem;
  padding-top: 2rem;
}

ul.slight-indent {
  margin-top: 0.2em;
  padding-left: 4.5rem;
  padding-right: 2.5rem;
}
ul.slight-indent li {
  font-size: 1.1rem;
}

li {
  list-style-type: none;
  font-weight: 300;
  padding-right: 0.5rem;
}



a {
  color: var(--brand-color);
  font-weight: bold;
}

a.home {
  font-family: 'SubjectivitySerif', serif;
  color: var(--background-dark);
  margin: 1rem 2rem;
  text-decoration: none;
  transition: border-color 500ms linear;
  transition: transform 500ms ease-out;
  border-bottom: 1px solid hsla(172, 90%, 25%, 0);
}
a.home:hover{
  transition: border-color 500ms linear;
  transition: transform 500ms ease-out;
  border-bottom: 1px solid var(--brand-color);
  transform: scale(1.02);
}

a.home span {
  color: var(--light-bg-link-color);
}


a.email-link {
  transition: all 300ms ease-out;
  text-decoration: none;
  font-size: clamp(1rem, 5vw, 1.6rem);
  color: var(--foreground-dark);
  transform: scale(1);
  background-color: var(--hi-contrast-brand-color);
  border: 1px solid hsla(172, 77%, 35%, 0);
  display: flex;
  align-items: center;
  align-self: center;
  border-radius: 0.1rem;
  padding: 0.8em 0.8em;
  text-align: center;
  margin:  3rem auto 2.5rem auto;
  box-shadow:
  1px 1.2px 5.8px hsla(345, 50%, 20%, 0.018),
  1.7px 2.2px 8.1px hsla(345, 50%, 20%, 0.03),
  2.4px 3px 11.4px hsla(345, 50%, 20%, 0.04),
  3.6px 4.5px 16.5px hsla(345, 50%, 20%, 0.054),
  6.8px 8.6px 23.4px hsla(345, 50%, 20%, 0.076),
  12px 15px 32px hsla(345, 50%, 20%, 0.12)
;
}

a.email-link:hover {
  transition: all 200ms ease-in-out;
  transform: scale(1.05);
  background-color: var(--brand-color);
  border: 1px solid hsla(172, 77%, 35%, 0);
}
a.email-link:active {
  transition: all 200ms cubic-bezier(.61,.01,.49,1.37);
  transform: scale(1);
  background-color: hsla(172, 77%, 35%, 0);
  border: 1px solid var(--brand-color);
}
a.email-link:visited {
  /* transition: all 200ms cubic-bezier(.61,.01,.49,1.37); */
  background-color: var(--brand-color-dark);
}
a.email-link span {
  padding-left: 1em;
}
a.email-link svg {
  color: var(--foreground-dark);
  width: 1.05em;
}

strong {
  font-family: 'HKGrotesk', sans-serif;
  font-weight: bolder;
}

.brand-bg {
  color: var(--brand-color);
  font-size: 1.1rem;
  letter-spacing: -0.02em;
}

abbr {
  font-variant-caps: all-small-caps;
  font-size: 1.2em;
  line-height: 0.5em;
}
abbr.te-reo {
  font-variant-caps: normal;
  font-size: 1em;
  cursor: help;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted var(--brand-color);
  cursor: help;
}

figure {
  max-width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

figcaption {
  font-weight: 300;
  font-size: 0.8em;
  font-style: italic;
  background-color: var(--figcaption-color);
  color: var(--background-dark);
  padding: 0.8em;
  padding-top: 0.5em;
  margin-top: 0;
  border-radius: 0 0 2px 2px;
}
figcaption a {
  color: var(--brand-color-dark);
}

img {
  max-width:100%;
}
figure > img {
  vertical-align: middle;
  padding-bottom: 0;
  margin-bottom: 0;
  border-radius: 2px 2px 0 0;
}
figure > img.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-15x11 {
    margin-top: 1rem;
    width: 100%;
    padding-top: 73.333%;
    height: 0px;
    position: relative;
}
.video-container-16x9 {
    margin-top: 1rem;
    width: 100%;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
}
.video-container-1x1 {
    margin-top: 1rem;
    width: 100%;
    padding-top: 100%;
    height: 0px;
    position: relative;
}

@supports not (-ms-ime-align: auto) {
  summary {
    border: 1px dotted transparent;
    border-radius: 3px;
    outline: none;
    padding: 1rem;
    display: block;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
  }
  summary:hover {
    background-color: var(--focus-background-dark);
  }
  summary:focus {
    border-color: var(--brand-color);
  }

  details {
    max-width: 40rem;
    box-sizing: border-box;
    margin-top: 5px;
    }

  details summary::-webkit-details-marker {
    display: none;
  }
  details > summary:hover:before {
    transform: rotate(-5deg);
  }
  details[open] > summary:before {
    transform: rotate(90deg);
  }
  details[open] > summary:hover:before {
    transform: rotate(95deg);
  }
  details[open] {
    background-color: var(--focus-background-dark);
  }

  summary:before {
    content: "";
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent var(--brand-color);
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
  }

  .content {
    border-top: none;
    padding: 10px;
    border-top: none;
  }
}

.video-container {
  position: relative;
  overflow: hidden;
  margin: 1rem .5rem 0 .5rem;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

aside {
  font-size: 0.9rem;
  line-height: 1.15;
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: left;
  background-color: var(--inverted-bg-color);
}

aside a {
  color: var(--brand-color-light);
}

 section.about a {
  color: var(--light-bg-link-color);
}

.small-caps {
  font-variant-caps: all-small-caps;
  font-size: 1.2em;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
